<p id="notice"><%= notice %></p>

<div class="card">
    <h3 class="card-header primary-color white-text">Curriculum Information</h3>
    <div class="card-body">
        
    

<p>
  <strong>Name:</strong>
  <%= @curriculum.name %>
</p>

<p>
  <strong>Min rating:</strong>
  <%= @curriculum.min_rating %>
</p>

<p>
  <strong>Max rating:</strong>
  <%= @curriculum.max_rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @curriculum.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @curriculum.active %>
</p>
</div>
</div>
<br/>

<h3><%= link_to 'Edit', edit_curriculum_path(@curriculum)%> Curriculum |
Go <%= link_to 'Back', curriculums_path %></h3>
