
<div id="notice" class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong><%= notice %> Enjoy your stay.</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1>Camps </h1>
<br/>

<h3>Add a <%= link_to 'New Camp', new_camp_path %></h3>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th>Curriculum</th>
      <th>Location</th>
      <th>Cost</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Time slot</th>
      <th>Max students</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @camps.each do |camp| %>
    
      <tr>
        <td><%= camp.id  %></td>
        <td><%= camp.curriculum_id %></td>
        <td><%= camp.location_id %></td>
        <td><%= camp.cost %></td>
        <td><%= camp.start_date %></td>
        <td><%= camp.end_date %></td>
        <td><%= camp.time_slot %></td>
        <td><%= camp.max_students %></td>
        <td><%= camp.active %></td>
        <td><%= link_to 'Show', camp, :class=> "btn btn-light" %></td>
        <td><%= link_to 'Edit', edit_camp_path(camp), :class=> "btn btn-light" %></td>
        <td><%= link_to 'Destroy', camp, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %></td>
    
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


