<p id="notice"><%= notice %></p>

<div class="card">
    <h3 class="card-header primary-color white-text">Camp Information</h3>
    <div class="card-body">
        <p>
  <strong>Curriculum:</strong>
  <%= @camp.curriculum_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @camp.location_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @camp.cost %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @camp.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @camp.end_date %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @camp.time_slot %>
</p>

<p>
  <strong>Max students:</strong>
  <%= @camp.max_students %>
</p>

<p>
  <strong>Active:</strong>
  <%= @camp.active %>
</p>
        
    </div>
</div>


<br/>
<h3><%= link_to 'Edit', edit_camp_path(@camp) %> Camp |
Go <%= link_to 'Back', camps_path %></h3>
