<p id="notice"><%= notice %></p>
<div class="card">
    <h3 class="card-header primary-color white-text">Camp_Instructor Information</h3>
    <div class="card-body">
    
<p>
  <strong>Camp:</strong>
  <%= @camp_instructor.camp_id %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @camp_instructor.instructor_id %>
</p>
</div>
</div>

<br/>

<h3><%= link_to 'Edit', edit_camp_instructor_path(@camp_instructor) %> Camp_Instructor |
Go <%= link_to 'Back', camp_instructors_path %></h3>
