<p id="notice"><%= notice %></p>
<div class="card">
    <h3 class="card-header primary-color white-text">Featured</h3>
    <div class="card-body">
        
    
<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @location.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @location.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>Max capacity:</strong>
  <%= @location.max_capacity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @location.active %>
</p>
</div>
</div>

<h3><%= link_to 'Edit', edit_location_path(@location) %> Location |
Go <%= link_to 'Back', locations_path %></h3>

